section {
    padding-top: 128px;
    position: relative;
}

section::before {
    z-index: -1;
    content: '';
    font-size: 64px;
    color: grey;
    opacity: 0.25;
    position: absolute;
    font-weight: 600;
    top: 20px;
    left: -10px;
}

.navbar .nav-link:hover {
    font-weight: bold;
}

.btn.button {
    border: 3px solid black;
    border-radius: 24px;
}

.btn.button:hover, .btn.button.active {
    border: 3px solid black;
    background-color: black;
    color: whitesmoke;
}

.navbar {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
}

.home img {
    width: 100%;
}

.home h1 { 
    font-size: 72px;
}

.home h3 {
    font-size: 48px;
}

.circle-container {
    width: 400px; 
    height: 400px;
    border-radius: 50%; 
    overflow: hidden; 
    border: 4px solid whitesmoke;
}

.circle-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.home .arrow img{
    width: 60px;
    
}

#arrow {
    animation: 2.5s upDown infinite;
}

.about::before {
    content: 'About';
}

.about-exp-item {
    margin-top: 32px;
}

.about-exp-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-exp-item-detail {
    display: none;
}

.experience::before {
    content: 'Experience';
}

.exp-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "work-1 work-2" "bonus bonus-2";
    gap: 8px;
}

.exp-img img {
    width: 100%;
    border: 2px solid whitesmoke;
}

.exp-img-item{
    position: relative;
}

.exp-img-item:hover::after {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    justify-content: center;
}


@keyframes upDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

#bonus-img {
    width: 300px;
    height: 320px;
    grid-area: bonus;
}

#bonus:hover::after {
    content: 'Merbabu';
}

#bonus-2-img {
    width: 300px;
    height: 320px;
    grid-area: bonus-2;
}

#bonus-2:hover::after {
    content: 'Arjuno';
}

#work-1-img {
    width: 300px;
    height: 320px;
    grid-area: work-1;
}

#work-1:hover::after {
    content: 'Web and UI/UX';
}

#work-2-img {
    width: 300px;
    height: 320px;
    grid-area: work-2;
}

#work-2:hover::after {
    content: 'Android';
}

.row .col p {
    text-align: justify;
}

.row .sosmed {
    width: 40px;
    height: 40px;
}

.contact::before {
    content: 'Contact';
}

.contact-form {
    border: 1px solid black;
    padding: 64px 32px;
    border-radius: 24px;
}

.form-label {
    font-weight: 500;
}

.contact {
    padding-bottom: 128;
}

.sosmed-detail {
    margin-left: 64px;
    align-items: center;
}

@media only screen and (max-width: 576px){
    section::before {
        left: -10px;
        font-size: 64px;
    }
}